#header{
	height: 100px;
	padding: 30px 0 0 0;
}
#header h4{
	padding: 0 0 0 20px;
}
#header h1, h4{
	display: inline;
	padding: 0 0 0 30px;
}

.jumbotron {
padding: 10px 5px 10px 10px;
margin-top: 80px;
margin-left: 20px;
color: inherit;
background-color: #B5DCE8;
}
.jumbotron h1 {
    font-size: 30px;
}
.jumbotron p{
	font-size: 20px;
}

.Header {
    border-style: solid;
    border-width: 12px;
    font-size: 40px;
	
}
.Header p{
	 font-size: 30px
}

#test {
	display: block;
}

#navbar {
	height: 100px;
	background-color: #ffd700;
}

#navbar h4{
	padding: 0px 0px 0px 0px;
}

#dishdisplay{
	padding: 20px 0px 0px 20px;
}

.col-md-12{
	background-color: #999;
	padding: 20px;
}
.col-md-12 button{
	float: right;
	margin-left: 40px;
}
.col-md-3 {
  margin-bottom: 20px;
  text-align: center;
  margin-top: 5%;
  width: 20%;
}
.col-md-3 .jumbotron {
padding: 10px 5px 10px 10px;
margin-top: 20px;
margin-left: 20px;
}

#page3{
	margin-top: 10%;
}
#preparation,.media-body p{
	text-align:justify;
}


#ingredientslist{
    border: 1px solid #ccc;
    padding: 0px 20px 20px 20px;
}
 #image{
 	padding: 0px 20px 20px 20px;
 }